<div
  style="display: flex;
  justify-content: center;
  align-items: center;
  margin-top:4rem;"
>
  <div
    class="slide"
    style="
          background-image: url('https://images.unsplash.com/photo-1561736778-92e52a7769ef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
        "
  >
    <a href="#1">
      <h3 style="color: white;">11 древних сайтов, которые до сих пор активны</h3></a>
  </div>
  <div
    class="slide"
    style="
          background-image: url('https://techrocks.ru/wp-content/uploads/2020/11/sylvia-yang-_ar2ENzmqb0-unsplash-1280x1000-1.jpg');
        "
  >
    <a href="#2"><h3 style="color: black;">6 лучших книг о технологиях 2020 года</h3></a>
  </div>
  <div
    class="slide"
    style="
          background-image: url('https://techrocks.ru/wp-content/uploads/2020/11/artificial-intelligence-4736369_1280-min.jpg');
        "
  >
    <a href="#3"><h3 style="color: white;">10 айтишных профессий, которым можно
        не бояться AI и автоматизации</h3></a>
  </div>
  <div
    class="slide active"
    style="
          background-image: url('https://techrocks.ru/wp-content/uploads/2020/10/markus-spiske-qjnAnF0jIGk-unsplash-1280x1000-1.jpg');
        "
  >
    <a href="#4"><h3 style="color: white;">Как изменился объем кода в компаниях
        за 10 лет</h3></a>
  </div>
  <div
    class="slide"
    style="
          background-image: url('https://techrocks.ru/wp-content/uploads/2020/05/attractive-backlit-beautiful-beauty-casual-day-1528407-pxhere.com-min-1024x682.jpg');
        "
  >
    <a href="#5"><h3 style="color: black;">Лучшие Telegram-каналы для айтишников
        — 2020</h3></a>
  </div>
</div>

<div class="news">
  <a name="5">
    <div class="news-header">Лучшие Telegram-каналы для айтишников — 2020</div></a>
  <div class="news-desrtiption">
    Разработка FrontEndDev. Этот канал был в нашей первой подборке, и мы очень
    рады, что он продолжает здравствовать. Здесь публикуются, в основном, ссылки
    на статьи, посвященные фронтенд-разработке. На канал подписалось уже больше
    24 тысяч человек, а это о чем-то, да говорит. Frontend Info. Статьи о
    FrontEnd разработке (JavaScript, ReactJS, React Native, Redux, RxJS,
    верстка). Почти 2700 подписчиков-фронтендеров. Верстальщик от бога. Здесь вы
    найдете статьи, шутки, ссылки на видео — все на тему фронтенд-разработки.
    Каналом заинтересовалось уже больше 8,5 тысяч человек. Frontend Klondike.
    Канал о Frontend-разработке. Статьи, книги, лайфхаки, ресурсы и много
    другого полезного контента. На этот канал подписалось больше 10 тысяч
    человек. UX Notes. Заметки UX-проектировщика. Авторский канал со статьями,
    видео, перепостами интересных материалов. Больше 10,5 тысяч подписчиков и
    уже точно больше двух лет в эфире. Разработка игр. На этот канал подписалось
    уже почти 14 тысяч человек. Здесь вы найдете ссылки на статьи и видео,
    посвященные геймдеву, а также вакансии для разработчиков игр. Unreal Engine.
    Канал заточен под разработку фильмов, игр и многого другого на самом
    передовом движке Unreal Engine. Этим каналом заинтересовались 5,5 тысяч
    человек. Геймдев, который мы заслужили. На этот авторский канал о геймдеве
    подписалось больше 10 тысяч человек. Здесь вы найдете ссылки на статьи, а
    также видео, книги, аналитику, мнения, новости. Javaswag. Еженедельная
    рассылка вручную отобранных статей по Java и JVM. На канал подписалось
    больше 3 тысяч человек. Frontender’s notes. Статьи и ссылки на тему
    фронтенда. HTML, CSS, javaScript, NodeJS, soft skills. Без малого 10 тысяч
    подписчиков. unity3d.ru. Общение на тему Unity3D. Чат русскоязычный, но, как
    указано в описании, «Also you can speak in English». 5 тысяч участников.
    Unreal Engine. Русскоязычный чат по тематике Unreal Engine 4 — движка для
    создания игр. 3,5 тысяч участников. Чат верстальщиков. Без малого 500
    человек общаются на тему верстки сайтов. Присоединяйтесь!</div>
  <a name="1">
    <div class="news-header">11 древних сайтов, которые до сих пор активны</div></a>
  <div class="news-desrtiption">
    Хотя всемирная паутина появилась только к 1990-м, регистрировать доменные
    имена было можно уже с 1983 года. Interesting Engineering собрал 11 сайтов,
    которые появились в 80-90-х годах прошлого столетия и всё ещё живы. Список
    далеко не исчерпывающий и составлен в произвольном порядке, — пишет DEV.BY.
    Больше самых старых ресурсов в интернете можно найти на сайте
    404pagefound.com.
    <b>Symbolics.com</b>
    Домен был зарегистрирован 15 марта 1985 года — один из самых старых, если не
    самый старый в сети. Сайт принадлежал одноимённой компании-производителю
    компьютеров, которая сегодня уже не существует в изначальном виде. Домен
    перешёл в руки инвестиционной компании XF.com Investments в 2010 году.
    <b>Interrupt Tech Corp.</b>
    Ещё один домен-старожил, зарегистрированный 18 сентября 1986 года. Сайт с
    минималистичным дизайном достоин звания самого примитивного в интернете. Всё
    потому, что компания не находится в активном поиске клиентов, а страница
    нужна, что номинально обеспечить ей присутствие в сети: «This Web page
    exists primarily to satisfy the needs of those who expect every domain to
    have a Web presence», — говорят владельцы.
    <b>Vortex Technology</b>
    Создан кофаундером организации People for Internet Responsibility Лореном
    Вайнстайном 27 октября 1986 года. Сайт был обновлён в 2017-м, но сохранил
    аутентичную внешность.
    <b>Texas Internet Consulting </b>
    Онлайн с апреля 1987 года. Сайт уже с фоном и картинками, но тоже довольно
    прост. Последний раз обновлялся в 2004 году, но остался верен традициям
    скромности.
    <b>Toad Hall</b>
    Домен существует с 18 августа 1987 года. Содержит ссылки на информацию об
    одном из основателей Electronic Frontier Foundation Джона Гилмора.
    <b>Caine, Farber and Gordon, Inc.</b>
    Судя по интерфейсу, сайт в таком же почтенном возрасте, что и домен.
    Принадлежит софтверной компании, основанной в 1970 году, которая до сих пор
    решает проблему Y2K.
    <b>Purple.com</b>
    До переработки сайт имел фиолетовую стартовую страницу, страницу FAQ и
    предложение о покупке примерно за $1,5 млн. Сейчас им владеет американская
    фирма-поставщик подушек, одеял и тому подобных предметов.
    <b>Milk.com </b>
    Ещё один домен, появившийся примерно в эпоху пузыря доткомов. Сайт продаётся
    за $10 млн и, судя по всему, принадлежит экс-инженеру Google и Slack Дэну
    Борнштейну.
    <b>Acme.com</b>
    Ещё один сайт, сохранивший дух прошлого — простой и дружелюбный.
    Компания-разработчик предлагает бесплатное ПО с 1972 года и онлайн с
    1991-го.
    <b>Space Jam</b>
    Сайт фильма «Космический джем» от Warner Bros. о приключениях баскетболиста
    Майкла Джордана, вышедшего в 1996 году. Графика того времени сохранена.
    <b>Toastytech.com</b>
    Страничка ненависти к Internet Explorer, созданная в далёком 1998-м.
    Посвящена тому, как Microsoft навязывала свой браузер и злоупотребляла
    господствующим положением на рынке ОС.
  </div>
  <a name="2"><div class="news-header">6 лучших книг о технологиях 2020 года</div></a>
  <div class="news-desrtiption">Журнал Financial Times выбрал 6 лучших книг о
    технологиях в 2020 году, — сообщает AIN.UA. — Список представлен в рамках
    ежегодной премии Business Book of the Year Award.Analogia: The Entangled
    Destinies of Nature, Human Beings and Machines Авторы: Джордж Дайсон и Аллен
    Лейн В книге авторы смогли соединить размышления об экспедиции
    Беринга-Чирикова в Сибирь в 1741 году, появлении американских спутников
    видовой разведки, дизайне каяков и будущем искусственного интеллекта.
    Facebook: The Inside Story Автор: Стивен Леви Журналист Стивен Леви собрал
    истории о компании Facebook, в частности рассказал о выбранных стратегиях и
    ошибках. При этом, основателя соцсети, Марка Цукерберга, автор представил
    как человека, поглощенного своим публичным имиджем. How to Talk to Robots: A
    Girls’ Guide to a Future Dominated by AI Автор: Табита Голдстауб Табита
    Голдстауб, глава Совета по вопросам искусственного интеллекта при
    правительстве Великобритании написала доступный и местами забавный учебник
    об искусственном интеллекте, который поможет понять масштаб грядущих
    перемен. The Internet in Everything: Freedom and Security in a World with No
    Off Switch Автор: Лаура ДеНардис Лаура ДеНардис, профессор Йельского
    университета и одна из ведущих специалистов в области интернет-управления,
    объясняет, как будет сложно преуспеть в мире, где все постоянно находятся в
    сети, а жизнь связана с интернетом вещей. The Future is Faster Than You
    Think: How Converging Technologies are Transforming Business, Industries,
    and Our Lives Авторы: Питер Диамандис и Стивен Котлер По мнению авторов,
    конвергенция новых мощных технологий приведет к столь необходимому всплеску
    инноваций. В книге рассказывается о летающих автомобилях, напечатанных на
    3D-принтере органах для трансплантации, «умной» одежде и других технологиях.
    The Road to Conscious Machines: The Story of AI Автор: Майкл Вулдридж Автор
    рассказывает историю возникновения искусственного интеллекта, а также
    предлагает новый взгляд на то, как он повлияет на здравоохранение, транспорт
    и сферу труда.
  </div>
  <a name="3">
    <div class="news-header">10 айтишных профессий, которым можно не бояться AI
      и автоматизации</div></a>
  <div class="news-desrtiption">В последние годы эксперты говорят о том, что
    внедрение искусственного интеллекта и автоматизация приведут к массовому
    сокращению рабочих мест, — пишет DEV.BY со ссылкой на Dice Insights.
    Аналитики Всемирного экономического форума считают, что этот же тренд
    повысит востребованность отдельных профессий, и большинство из них — в ИТ.
    Организация выпустила новый отчёт о влиянии AI на экономику и уровень
    безработицы. В нём среди прочего рассмотрено, как пандемия ускорит
    автоматизацию многих задач и профессий, и как AI изменит мировой рынок труда
    в долгосрочной перспективе. Согласно документу, к 2025 году искусственный
    интеллект приведёт к созданию 97 млн рабочих мест в 26 развитых и
    развивающихся странах, но вместе с тем уничтожит ещё 85 млн рабочих мест. В
    топ-10 профессий, потребность в которых, по предсказанию ВЭФ, через пять лет
    увеличится больше всего, вошли специалисты по: аналитике данных и data
    science, AI и машинному обучению, большим данным, цифровому маркетингу и
    digital-стратегии, автоматизации процессов, развитию бизнеса, цифровой
    трансформации, информационной безопасности, разработке ПО и приложений,
    интернету вещей. Как отмечает Dice, все эти профессии связаны с обработкой
    огромных массивов данных или программированием. Эффективность этих
    специалистов будет повышаться с появлением более сложных средств аналитики и
    автоматизации задач — к примеру, ML-инструментов для очистки датасетов,
    которые ускорят поиск важных инсайтов в маркетинге, аналитике данных и
    кибербезопасности. А эффективные сотрудники всегда востребованы у
    работодателей. Кроме того, использование AI становится залогом успеха в
    условиях жёсткой конкуренции на рынке, поэтому всё больше компаний будут
    искать разработчиков инструментов и приложений на базе искусственного
    интеллекта. Среди профессий, представители которых к 2025 году чаще всего
    будут оставаться за бортом — операторы по вводу данных, секретари,
    бухгалтеры, аудиторы, сборщики и заводские рабочие.</div>
  <a name="4">
    <div class="news-header">Как изменился объем кода в компаниях за 10 лет</div></a>

  <div class="news-desrtiption">Создатели движка Sourcegraph для навигации по
    репозиториям исходного кода с поддержкой более 20 языков провели опрос среди
    500 софтверных разработчиков из Северной Америки на тему сложности кода и
    управления им. Свыше половины (51%) респондентов считают, что по сравнению с
    2010 годом размер кодовой базы в их компаниях в мегабайтах и по числу
    репозиториев увеличился более чем в 100 раз, — сообщает DEV.BY со ссылкой на
    Ars Technica. 18% опрошенных ответили, сейчас объём кода, с которым им
    приходится работать, в 500+ раз превышает объём десятилетней давности.
    Частично эту тенденцию можно объяснить постоянным усложнением кода, а также
    всё большим разнообразием используемых компаниями платформ и инструментов.
    Также участники опроса говорят о росте числа поддерживаемых архитектур,
    устройств, языков и репозиториев. Ещё один тренд Ars Technica отмечает среди
    компаний, которые традиционно не относились к технологическим, например в
    сферах страхования, розничной торговли, производства продуктов питания и
    напитков. 91% респондентов считают, за последние 10 лет их компании стали
    более «айтишными». Что едва ли удивляет, когда ритейлеры вроде Walmart
    спонсируют конференции по опенсорсным технологиям и во всю используют
    открытый исходный код в инфраструктуре своих платформ, — пишет издание.</div>

</div>